@media all and (min-width: var(--mq-medium)) {
  * {
    font-size: var(--base-font-size) * 1.2;
    line-height: var(--base-line-height) * 1.2;
  }
}
*/ :root {
  --base-font: 16px;
}

.beamemberforminput > input:focus {
  outline: none;
}

input:focus {
  outline: none;
  padding-right: 10px;
  flex-grow: 1;
}

.beamemberforminput > input:focus-visible {
  outline: none;
}

@media all and (min-width: 800px) {
  .academyMain {
    background-image: url(../../assets/academybg.png);
    position: absolute;
    width: 1024px;
    height: 768px;
    left: 0px;
    top: 0px;
  }

  .singuppage {
    background-image: url(../../assets/singupbg.png);
    position: absolute;
    width: 1024px;
    height: 768px;
    left: 0px;
    top: 0px;
  }

  .academyshopMain {
    width: 100%;
    padding: 10vh 5vw 0 5vw;
    background-color: rgb(250, 250, 250);
    background-size: cover;
    background-position: center;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .signbuttontext {
    /* position: static; */
    width: auto;
    height: 30px;

    /* bold/20 */
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;

    /* Get Implant/Imeverywhere */
    color: #ffffff;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
  }

  .productimg {
    min-width: 100px;
    height: 70px;
    width: 200px;
    margin-top: 20px;
    margin-left: 20px;
  }

  .productdetails {
    min-width: 100px;
    height: 200px;
    width: 200px;
    margin-top: 20px;
  }

  .logindiv {
    position: absolute;
    width: 387px;
    height: 500px;
    left: 889px;
    top: 161px;

    /* Get Implant/Imeverywhere */
    background: #ffffff;

    /* Get implant shadow */
    box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }

  .loginbutton {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1px 0px;
    position: absolute;
    width: auto;
    height: 32px;
    left: 120px;
    top: 350px;

    /* Get Implant/Read */
    background: #000000;
    border-radius: 6px;
  }

  .signbutton {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1px 0px;
    position: absolute;
    width: auto;
    height: 32px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    /* Get Implant/Read */
    background: #000000;
    border-radius: 6px;
  }

  .loginbuttontext {
    position: static;
    width: auto;
    height: 30px;
    left: 8px;
    top: 1px;

    /* bold/20 */
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;

    /* Get Implant/Imeverywhere */
    color: #ffffff;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
  }

  .productsdiv {
    width: 100%;
    margin-left: 0px;
    min-height: 400px;
    height: auto;
  }

  .productdiv {
    margin-top: 0px;
    margin-left: 0px;
    width: '400px';
  }

  .academycontentMain {
    background-image: 'white';
    margin-top: 80px;
    margin-left: 35px;
    overflow-y: hidden;
    padding-top: 41px;
  }

  .card {
    align-self: center;
  }

  .profilecontent {
    min-height: 80vh;
    margin-top: 40px;
    width: 100%;
    /* padding: 2vh 5vw 0 2vw; */
    overflow-y: scroll;
    padding: 0px 32px 0px 0px;
    min-width: none;
    background-position: center;
    margin-left: '0px';

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .ordermaindiv {
    width: 80%;
    max-width: 400px;
  }

  .ordercontent {
    width: 100%;
    padding: 2vh 5vw 0 2vw;
    min-width: none;
    background-position: center;
    margin-left: 0px;

    display: flex;
    flex-direction: row;
  }

  .Orderflexcontent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    max-height: 400px;
  }

  .orderimg {
    width: 40%;
    height: 200px;
  }

  .orderdetails {
    width: 60%;
    height: 200px;
    text-align: right;
  }

  .calenderdiv {
    position: absolute;
    /* width: 463px;
    height: 369px; */
    left: 8%;
    top: 31%;
    margin-top: 50px;

    /* Get Implant/Imeverywhere */
    background: #ffffff;

    /* Get implant shadow */
    box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }

  /* .react-calendar {
    margin-top: 13px;
    width: 463px;
    max-height: 100%;
    border: none;
  } */

  .datescheduleform {
    position: absolute;
    width: 717px;
    height: 426px;
    left: 589px;
    top: 180px;

    /* Get Implant/Imeverywhere */
    background: #ffffff;

    /* Get implant shadow */
    box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }

  .datescheduleform button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1px 2px;

    position: absolute;
    width: 105px;
    height: 32px;
    /* left: 503px; */
    right: 18px;
    top: 379px;

    /* Get Implant/sky */
    background: #3159a7;
    border-radius: 6px;
  }

  .datescheduleform button span {
    position: static;
    width: 98px;
    height: 30px;
    left: 0.5px;
    top: 1px;

    /* bold/20 */
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;

    /* Get Implant/Imeverywhere */
    color: #ffffff;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
  }

  .datescheduleformcontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .datescheduleformgridcol1row2 {
    display: flex;
    gap: 24px;
  }

  /* .datescheduleformgridcol1row2{
    display: grid;
  } */

  .datescheduletitle {
    margin-left: 35%;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  /* shop */
  .shopcontentdiv {
    width: 78%;
    height: 600px;
  }

  .cartdivmain {
    position: fixed;
    width: 320px;
    background-color: white;
    /* height: fit-content; */
    min-height: 100vh;
    right: 0;
    margin-top: 10px;
    box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  /* membership */
  .membershipdiv {
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
    height: 100vh;
  }

  .membershipimg {
    min-width: 100px;
    height: 250px;
    width: 400px;
  }

  .membershipdetails {
    margin-left: 20px;
    height: 120px;
    width: 100%;
  }

  /* courses */
  .coursediv {
    margin-top: 40px;
    margin-left: 20px;
    /* height: 80vh; */
  }

  .courseimg {
    min-width: 100px;
    height: 250px;
    width: 450px;
    margin-top: 0px;
  }

  .courseimg__expand {
    min-width: 100px;
    height: 400px;
    width: 450px;
    margin-top: 0px;
  }

  .coursedetails {
    margin-left: 20px;
    height: 80px;
    width: 400px;
    position: relative;
    font-size: 20px;
    font-weight: 400;
  }

  .coursedetails span {
    margin-right: 50px;
  }

  .read__more__active {
    display: block;
  }

  .read__more__false {
    display: none;
  }

  .digonalpassthrough {
    position: absolute;
    width: 109px;
    height: 33.5px;
    left: -10px;
    top: 24.5px;

    /* Get Implant/Read */
  }

  /* cart */
  .cartheader {
    height: 50px;
    width: 100%;
    padding-top: 15px;
    margin-bottom: 10px;
  }

  .cartbody {
    height: 360px;
    width: 100%;
    overflow-y: scroll;
  }

  .cartfooter {
    height: 20px;
    width: 100%;
  }

  .beamembercontentdiv {
    position: absolute;
    height: 720px;
  }

  .beamemberMain {
    /* height: 100vh; */
    /* background-image: url(../../assets/beamember1.png);
    background-size: contain;
    background-repeat: no-repeat; */
    position: relative;
    /* width: 1024px; */
    /* background-size: auto; */
    /* height: 704px; */
    height: 100vh;
    width: 70%;
    /* height: 100vh; */
    left: 0px;
    /* margin: auto; */
  }

  .beamemberMain > div {
    position: absolute;
    padding: 22px 38px 22px 29px;
    width: 387px;
    height: fit-content;
    right: -27%;
    /* height: 500px; */
    /* left: 889px; */
    top: 161px;
    background: #ffffff;

    /* Get implant shadow */
    box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }

  .beamemberMainh3 {
    width: 250px;
    height: 18px;
    padding-bottom: 3px;

    /* bold/12 */
    font-family: Poppins;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
  }

  .beamemberforminput {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
  }

  .beamemberforminput > input[type='date']:focus-visible {
    outline: none;
    background-color: transparent;
  }

  .beamemberforminput > input[type='date']:focus-within,
  .beamemberforminput > input[type='date']:focus {
    outline: none;
    background-color: transparent;
  }

  select#smallinput:focus-visible,
  select#smallinput:focus,
  select#smalinput:focus-within {
    outline-style: none;
    background-color: transparent;
  }

  #smallinput {
    width: 72px;
  }

  #inputselect select:focus {
    border: 0px;
    outline: 0px;
    -webkit-appearance: none;
    outline: none !important;
  }

  #inputselect select:focus-visible {
    border: 0px;
    outline: 0px;
    -webkit-appearance: none;
    outline: none !important;
  }

  .beamemberforminput > input,
  .beamemberforminput > select {
    border: none;
    border-bottom: 1px solid #000000;
    margin-top: 24px;
    padding-bottom: 6px;
    font-weight: 700;
    color: var(--grey-hex);
    background-color: transparent;
  }

  .beamemberforminput > input:focus {
    color: #000000;
    outline: none;
  }

  .beamemberforminput > label {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
  }

  .beamemberforminput > input.error {
    border-color: red !important;
  }

  .beamemberMainbutton {
    justify-content: center;
    align-items: center;
    padding: 1px 8px;
    margin-top: 28px;
    float: right;
    position: relative;
    width: 84px;
    height: 32px;
    /* Get Implant/Read */
    background-color: black;
    border-radius: 6px;
  }

  .beamemberMainbuttontext {
    width: 194px;
    height: 18px;
    left: 986px;
    top: 0px;

    /* bold/12 */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;

    /* identical to box height */

    color: white;
  }

  .flexcontent {
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin-right: 24px;
  }

  .flexcontentgrid {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 73px; */
    display: flex;
    flex-direction: row;
  }

  .shopcontentproducts {
    max-width: 950px;
  }
}

/* mobile */

@media all and (max-width: 800px) {
  /* For desktop: */

  .singuppage {
    background-image: url(../../assets/singupbg.png);
    position: absolute;
    height: 100vh;
  }

  .beamemberMain {
    /* background-image: url(../../assets/beamember2.png); */
    position: relative;
    height: 100vh;
    /* width: 663px;
    height: 802px; */
    left: 0px;
    top: 0px;
    /* margin-bottom: 20px; */
    background-repeat: no-repeat;
  }

  .beamemberMainh3 {
    width: 250px;
    height: 18px;
    /* bold/12 */
    font-family: Poppins;
    /* font-style: normal; */
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
  }

  .beamemberMain > div {
    position: absolute;
    padding: 12px 12px 20px 11px;
    width: 85%;
    /* height: 419px; */
    left: 50%;
    /* top: 30%; */
    bottom: 3%;
    transform: translate(-50%, 0);
    /* top: 376px; */

    /* Get Implant/Imeverywhere */
    background: #ffffff;

    /* Get implant shadow */
    box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }

  .beamemberforminput {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
  }

  .beamemberforminput > input[type='date']:focus-within,
  .beamemberforminput > input[type='date']:focus {
    outline: none;
    background-color: transparent;
  }

  select#smallinput:focus-visible,
  select#smallinput:focus,
  select#smalinput:focus-within {
    outline-style: none;
    background-color: transparent;
  }

  #smallinput {
    width: 72px;
  }

  .beamemberforminput > div > #inputselect {
    border: none;
    margin-top: 24px;
    padding-bottom: 6px;
    font-weight: 700;
    color: var(--grey-hex);
  }

  .beamemberforminput > input,
  .beamemberforminput > select {
    border: none;
    border-bottom: 1px solid #000000;
    margin-top: 24px;
    padding-bottom: 6px;
    font-weight: 700;
    color: var(--grey-hex);
    background-color: transparent;
  }

  .beamemberforminput > input:focus {
    outline: none;
    color: black;
  }

  .beamemberforminput > label {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
  }

  .beamemberMainbutton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1px 8px;
    margin-top: 24px;
    width: 84px;
    height: 32px;
    float: right;

    /* Get Implant/Read */
    background: #000000;
    border-radius: 6px;
  }

  .beamemberMainbuttontext {
    width: 194px;
    height: 18px;
    margin-left: 10px;
    margin-top: 0px;

    /* bold/12 */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;

    color: white;
  }

  .academyMain {
    background-image: url(../../assets/academybgmobile.png);
    min-height: 100vh;
    width: 100%;
    padding: 10vh 5vw 0 5vw;
    background-color: rgb(250, 250, 250);
    background-size: cover;
    background-position: center;
    margin-top: 0px;
    display: flex;

    overflow-y: hidden;
    flex-direction: column;
  }

  .academyshopMain {
    min-height: 100vh;
    width: 100%;
    padding: 10vh 5vw 0 5vw;
    background-color: rgb(250, 250, 250);
    background-size: cover;
    background-position: center;
    margin-top: 0px;
  }

  .logindiv {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 550px;

    margin-top: 70%;
    margin-bottom: 20px;
  }

  .signbuttontext {
    position: static;
    width: auto;
    height: 30px;
    left: 8px;
    top: 1px;

    /* bold/20 */
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;

    /* Get Implant/Imeverywhere */
    color: #ffffff;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
  }

  .academycontentMain {
    background-image: 'white';
    margin-top: 126px;
    padding: 10px;
    /* margin-left: 35px; */
    overflow: hidden;
    margin-left: 0;
  }

  .card {
    align-self: center;
  }

  .profilecontent {
    margin-bottom: 40px 0px;
    /* min-height: 80vh; */
    width: 100%;
    /* padding: 2vh 5vw 0 2vw; */
    min-width: none;
    background-position: center;
    margin-left: 0px;
  }

  .ordermaindiv {
    /* width: 80%; */
    padding: 10px;
  }

  .ordercontent {
    width: 100%;
    padding: 2vh 5vw 0 2vw;
    min-width: none;
    background-position: center;
    margin-left: 0px;
    margin-bottom: 20px;
  }

  .Orderflexcontent {
    display: block;
    overflow-y: scroll;
    width: 100%;
    max-width: 329px;
    margin: auto;
  }

  .orderimg {
    width: 100%;
    height: 150px;
  }

  .orderdetails {
    width: 100%;
    height: 200px;
    text-align: right;
  }

  .productsdiv {
    /* position: absolute; */
    /* top: 1020px; */
    /* width: 80%; */
    margin-left: 0px;
    margin-top: 35px;
    /* min-height: 400px; */
    height: auto;
  }

  .productdiv {
    margin-top: 40px;
    margin-left: 0px;

    height: 30vh;

    width: 323px !important;
  }

  .productimg {
    width: 141px;
    margin-top: 20px;
    margin-left: 20px;
    height: 220px;
  }

  .productdetails {
    width: 202px;
    margin-top: 20px;
    margin-left: 20px;
  }

  .calenderdiv {
    /* position: absolute; */
    width: 309px;
    height: 290px;
    margin: auto;
    left: 35px;
    top: 230px;

    /* Get Implant/Imeverywhere */
    background: #ffffff;

    /* Get implant shadow */
    box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }

  .datescheduleform {
    /* position: absolute; */
    width: 351px;
    height: fit-content;
    left: 16px;
    top: 587px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;

    /* Get Implant/Imeverywhere */
    background: #ffffff;

    /* Get implant shadow */
    box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.25);
  }

  .datescheduleform button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1px 2px;
    margin: 30px auto 0px auto;
    /* position: absolute; */
    width: 105px;
    height: 32px;
    left: 60%;
    top: 340px;

    /* Get Implant/sky */
    background: #3159a7;
    border-radius: 6px;
  }

  .datescheduleform button span {
    position: static;
    width: 98px;
    height: 30px;
    left: 0.5px;
    top: 1px;

    /* bold/20 */
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;

    /* Get Implant/Imeverywhere */
    color: #ffffff;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
  }

  .datescheduleformcontainer {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(2, 1fr);
    gap: 24px; */
  }

  .datescheduleformgridcol1row2 {
    display: flex;
    gap: 24px;
  }

  /* .datescheduleformgridcol1row2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  } */

  .datescheduletitle {
    text-align: center;
    margin: 30%;
  }

  .signbutton {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1px 0px;
    position: absolute;
    width: auto;
    height: 32px;
    /* bottom: 0; */
    left: 50%;
    transform: translateX(-50%);

    /* Get Implant/Read */
    background: #000000;
    border-radius: 6px;
  }

  .loginbutton {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1px 0px;
    position: absolute;
    width: auto;
    height: 32px;
    left: 120px;
    top: 350px;

    /* Get Implant/Read */
    background: #000000;
    border-radius: 6px;
  }

  .loginbuttontext {
    position: static;
    width: auto;
    height: 30px;
    left: 8px;
    top: 1px;

    /* bold/20 */
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;

    /* Get Implant/Imeverywhere */
    color: #ffffff;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
  }

  /* membership */
  .membershipdiv {
    position: relative;
    width: 343px;
    height: 330px;
    left: 0px;
    top: 10px;

    /* Get Implant/Imeverywhere */
    background: #ffffff;

    /* Get implant shadow */
    box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }

  .membershipimg {
    position: absolute;
    width: 343px;
    height: 202px;
    left: 0px;
    top: 0px;
  }

  .membershipdetails {
    position: absolute;
    width: 343px;
    height: 130px;
    left: 20px;
    top: 220px;
  }

  .membershipmainbutton {
    width: 343px;
    height: 120px;

    margin-top: 15px;
  }

  /* courses */
  .coursediv {
    position: relative;
    width: 323px;
    height: 320px;
    left: 0px;
    top: 10px;
    margin-bottom: 50px;

    /* Get Implant/Imeverywhere */
    background: #ffffff;

    /* Get implant shadow */
    box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-bottom: 50px;
  }

  .coursemainbuttons {
    width: 343px;
    height: 120px;

    margin-top: 85px;
  }

  .deskexpandprice {
    display: none;
  }

  .courseimg {
    min-width: 100px;
    height: 100%;
    width: 100%;
  }

  .coursedetails {
    margin-left: 20px;
    top: 202px;
    height: 120px;
    width: 323px;
    font-size: 20px;
    font-weight: 400;
  }

  .coursedetails span {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    margin-right: 20px;
    /* Get Implant/Read */
    color: #000000;
  }

  .cartdivmain {
    position: fixed;
    width: 320px;
    margin: auto;
  }

  .read__more__false {
    display: none;
  }

  .read__more__active {
    display: block;
  }

  .cartheader {
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
  }

  .cartbody {
    height: calc(100vh - 220px);
    width: 100%;
    overflow-y: scroll;
    margin-bottom: 20px;
  }

  .cartfooter {
    height: fit-content;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    z-index: 2;
    background: white;
    box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.25);
  }

  .shopcontentdiv {
    width: 78%;
    height: 700px;
    /* margin: auto; */
  }

  .flexcontent {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .flexcontentgrid {
    width: 323px;
    margin: auto;
  }

  .digonalpassthrough {
    width: 60px;
    height: 25.5px;
    margin-left: -33px;
    top: 35.5px;

    /* Get Implant/Read */
  }

  /* .shopcontentproducts{
    min-width: 1000px;
  } */
  .cartflexcontent {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 31px;
  }
}

@media all and (min-width: 1101px) {
  .productdetails {
    width: 58%;
    height: 200px;
    padding: 8px 15px 10px 11px;
    margin-left: 20px;
  }
}

@media all and (min-width: 1101px) {
  .productdetails {
    width: 58%;
    height: 200px;
    padding: 8px 15px 10px 11px;
    margin-left: 20px;
  }
}
